@using MeetMastersAM.Shared.Model

<h2 class="mb-3">Dipendenti</h2>
<button class="btn btn-primary shadow mb-4" @onclick="OnCrea">
    Crea Dipendente <i class="fa-solid fa-user-plus"></i>
</button>
<table class="table table-striped w-75 shadow border">
    <thead class="bg-navy text-white">
        <tr>
            <th></th>
            <th>Nome completo</th>
            <th>Indirizzo</th>
            <th>Recapito</th>
            <th>Data di Nascita</th>
            <th>Sede</th>
            <th>Mansione</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dipendente in listaDipendente)
        {
            <tr>
                <td>
                    @if (dipendente.IsReferent)
                    {
                        <p class="text-primary"><i class="fa-solid fa-toggle-on"></i></p>
                    }
                    else
                    {
                        <i class="fa-solid fa-toggle-off"></i>
                    }
                </td>
                <td>@dipendente.NomeDipendente @dipendente.CognomeDipendente</td>
                <td>@dipendente.IndirizzoDipendente</td>
                <td>@dipendente.RecapitoDipendente</td>
                <td>@dipendente.DataNascitaDipendente.ToShortDateString()</td>
                <td>@dipendente.LuogoDiLavoroSedeNavigation!.DescrizioneSede</td>
                <td>
            @* @foreach (var m in dipendente.Mansioni!)
            {
            @m.NomeMansione

            <span>, </span>
            } *@
            </td>
                <td>
                    <button class="btn text-warning" @onclick="() => OnModifica.InvokeAsync(dipendente.DipendenteId)">
                        <i class="fa-solid fa-user-pen"></i>
                    </button>
                    <button class="btn text-danger" @onclick="() => OnElimina.InvokeAsync(dipendente.DipendenteId)">
                        <i class="fa-solid fa-user-xmark"></i>
                    </button>
                </td>
            </tr>
        }

    </tbody>
</table>

@code {
    [Parameter]
    public List<Dipendenti> listaDipendente { get; set; } = null!;

    [Parameter]
    public EventCallback OnCrea { get; set; }

    [Parameter]
    public EventCallback<int> OnModifica { get; set; }

    [Parameter]
    public EventCallback<int> OnElimina { get; set; }
}
